@import '../../styles/sass/base.scss';

.buttonBackAdmin {
    @include buttonBack;
    top: 9rem;
}

.cardInfoPrj {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;

    button {
        @include primary-button
    }
}
.buttonBack {
    @include buttonBack
}