@import '../../../styles/sass/base.scss';

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    p{
        width: 80%;
        color: #00000099;
        font-weight: 500;
    }
    .table{
        @include table;
        .salarysettlement{
            border-left: solid 0.5rem $secondary-color-button;
        }
        .withdrawals{
            border-left: solid 0.5rem $primary-color-button;
        }
    }
}