$primary-color:#5d50a2;
$secondary-color: #3bb9a1;
$tertiary-color: #09e6e662;

$primary-grey: #D4D4D4;

$primary-color-button: #5d50a2;
$secondary-color-button: #3bb9a1;
$tertiary-color-button: #C8FFF4;

$primary-selection: #01a29ac5;

